@keyframes spinner {
    to {transform: rotate(360deg);}
  }


   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }



  #messageErreur{
    color: red;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius:25px;
    
  }
  
  /*Code pour le fonctionnement des erreurs par abdel*/
  span {
    position: absolute;
  }
  
  .trusted-btn-sinscrire {
    margin-top: 2.5em;
  }
  
  /*Code pour le fonctionnement des erreurs par abdel*/
