
<body>
<!-- <div id="TC_Container_home"> -->
    

    <!-- <h1 id="trusted-h1-titrehome">
        Rencontrez des professionnels certifiés de la 
        <span id="trusted-h1-titrehome-domaine"> finance</span>
    </h1> -->
    <div class='title-container'>
        <p>Trouvez des professionnels certifiés <span id='text'>
        </span><span class="vertical-score" id="score">&#124;</span></p>
    </div>
    
    <div id="TC_image_homme_home">
       <img  src="../../../assets/images/TC homme home page.png" alt="trust people"> <a href="/home"></a>
        </div>
     
    <!-- <div class="card">
        <form class="form-inline" id="TC_Search_bar">
            <div class="form-group" >
             
              <input type="text" class="form-control" id="TC_categorie" formControlName="categorie" placeholder="Categorie" >
            </div>
            <div class="form-group">
              
              <input type="text" class="form-control" id="TC_region"  formControlName="region" placeholder="Region" >
            </div>
            <button id="TC_search_btn" class="btn btn-default TC_button_search">Rechercher</button>
          </form>
        </div>
        -->
        <app-explore></app-explore>

    <!-- </div> -->

    <div id="homelogo">
        <!-- <img src="../../../assets/trustedCircle logo test.png" alt="logo trustedcircle"> -->

        <img src="../../../assets/images/trustedcircle 4.5 star.png" alt="logo trustedcircle">
      
    </div>
    <div id="other_button">
      
    </div>


    <div class="input-group">
        

    </div>
    
    
 
</body>