#TC_image_homme_home{
    display: flex;
    justify-content: center;
}


#TC_Container_home{
    display: flex;

}

/* card profile */
.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border-color: blanchedalmond;
    margin-top: -20px;
    
}
#TC_Trust_image{
    width: 150px;
}





/*Section  Search bar */

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    /* margin-top: 200px; */
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 25%;
    margin-right: 25%;
}

.card_home{
    border-radius: 15px;
    /* margin-left: 30px;
    margin-right: 30px; */
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    /* margin-top: 200px;
    padding-top: 50px;
    padding-bottom: 50px; */
    /* margin-left: 25%;
    margin-right: 25%; */
}

#TC_Search_bar{
    display: flex;
    justify-content: center;
}

#TC_categorie{
    /* margin-right: 10px; */
    width:95%;
    border-color: rgb(54, 52, 52);
    border-width: 3px;
    /* background-color: #e5e5eb; */
    font-weight: bold;
    color: #5756EF;
    
    
}
#TC_region{
    /* margin-right: 00px; */
    width: 65%;
    border-color: rgb(54, 52, 52);
    border-width: 3px;
    /* background-color: #e5e5eb; */
    font-weight: bold;
    color: #5756EF;
}
.btn{
    border-radius: 25px;
    font-weight: bold;
    
    
}

#TC_search_btn{
    border-radius: 25px;
    font-weight: bold;
    background-color: #5756EF;
    color: white;
    
    
}

.TC_button_search{
    border-radius: 25px;
    font-weight: bold;
    width: 200px;
}










/* body { 
     background-image: url("paper.gif"); 
    background-color: aquamarine;
} 
*/

#homelogo {
    display: flex;
    justify-content: center;
    padding-top: 150px;
    padding-bottom: 50px;
}

#other_button {
    display: flex;
    justify-content: center;
    /* margin-bottom: 20px; */
}

#button-home {
    display: flex;
    justify-content: center;
    /* padding-right: 25%;
    padding-left: 25%; */
    margin-left: 625px;
    margin-right: 625px;
    /* margin-bottom: 250px;
    border-radius: 25px; */
}

#button-position {
    padding-bottom: 50px;
}


/* GLOBAL STYLES
-------------------------------------------------- */


/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */


/* Carousel base class */

.carousel {
    margin-bottom: 4rem;
}


/* Since positioning the image, we need to help out the caption */

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


/* Declare heights because of positioning of img element */

.carousel-item {
    height: 32rem;
    background-color: #777;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
  -------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
  ------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}



/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.title-container {
    font-family:sans-serif;
    font-size:40px;
    position: relative;
    margin: 3% 15%;
    color:black;
  }
  
  .hidden {
    opacity:0;
  }

  #text {
      color: #5756EF;
  }

  .vertical-score {
    display:inline-block;
   position:relative;
   top:-0.14em;
 }
 